## Import CSV file into mysql table

In [ ]:
# Dependencies and Setup
import matplotlib.pyplot as plt
from pathlib import Path
import pandas as pd
import numpy as np

In [37]:
data=pd.read_csv("db/Tweets_Parsed.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14015 entries, 0 to 14014
Data columns (total 19 columns):
id                              14015 non-null int64
airline_sentiment               14015 non-null object
airline_sentiment_confidence    14015 non-null float64
negativereason                  8932 non-null object
negativereason_confidence       10207 non-null float64
airline                         14015 non-null object
airline_sentiment_gold          39 non-null object
name                            14015 non-null object
negativereason_gold             32 non-null object
retweet_count                   14015 non-null int64
text                            14015 non-null object
tweet_coord                     1020 non-null object
tweet_created                   13998 non-null object
tweet_location                  9417 non-null object
user_timezone                   9335 non-null object
tweet_date                      14011 non-null object
tweet_time                      13967 non-null object
lat                             14015 non-null float64
lng                             14015 non-null float64
dtypes: float64(4), int64(2), object(13)
memory usage: 2.0+ MB

In [38]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine

In [39]:
Base = automap_base()
engine = create_engine('mysql+pymysql://root:mysql57515c@localhost:3306/airlinetwitter')

In [40]:
data.to_sql(con=engine, index=False,name="tweets", if_exists='replace')
with engine.connect() as con:
    con.execute('ALTER TABLE `tweets` ADD PRIMARY KEY (`id`);')